{% extends "bootstrap/base.html" %}
<html>
<head>
  {% if title %}
  <title>{{ title }} - Microblog</title>
  {% else %}
  <title>Welcome to Microblog</title>
  {% endif %}
</head>
{% block body %}
<style type="text/css"> 
.header{
  font-size: 20px;
}
</style>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{ url_for('index') }}">Home</a>
      {% if current_user.is_anonymous %}
      <a class="navbar-brand" href="{{ url_for('login') }}">Login</a>
      {% else %}
      <a class="navbar-brand" href="{{ url_for('logout') }}">Logout</a>
      {% endif %}
      <a class="navbar-brand" href="{{ url_for('job_lists') }}">Jobs</a>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Find anything...">
        </div>
        <button type="submit" class="btn btn-default">Search</button>
      </form>
    </div>
  </div>
</nav>

{% block content %}{% endblock %}
{% block scripts %} {{ super() }} {% endblock %}
{% endblock %}
</html>